tw_env/*
__pycache__
twan/__pycache__
.vscode/*

twan/data/*
!twan/data/temp.txt

twan/database/*
!twan/database/db_*

twan/tf_model/assets
twan/tf_model/variables
twan/tf_model/saved_model*

twan/transformers/config*
twan/transformers/special*
twan/transformers/tf_model*
twan/transformers/token*
twan/transformers/vocab*

twan/transformers_tr/config*
twan/transformers_tr/special*
twan/transformers_tr/tf_model*
twan/transformers_tr/token*
twan/transformers_tr/vocab*

practical*
mongo_gcp_ai_platform
ENV*


