{% extends 'base.html' %}
{% block title %}
Contact
{% endblock %}

{% block content %}


<div class="container center">

      <br>
      <p class="h2">Please contact below email for further information!!!</p>
      <br>
      <p class="h5">twittranalysis@gmail.com</p>

</div>


{% endblock %}


<!-- {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <br>
  <div class="container alert alert-{{ category }}">
    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %} -->