{% extends 'base.html' %}
{% block title %}
Plots
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <br>
  <div class="container alert alert-{{ category }}">
    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}


{% if tw: %}

<div>

  <div class="container mt-5">
    <h1 style="text-align: center;"> Total collected tweet count: {{tw.tw_count }}</h1>
  </div>
  <br>
  <div class="container">
    <h2 style="text-align: center;">Tweet Count Per Hour</h2>
    <img src='data:image/png;base64,{{tw.tw_count_per_hour}}' />
  </div>
  <br>
  <div class="container">
    <h2 style="text-align: center;">Tweet Count Per Day</h2>
    <img src='data:image/png;base64,{{tw.tw_count_per_day}}' />
  </div>
  <br>
  <div class="container">
    <h2 style="text-align: center;">Average Hourly Tweet Count</h2>
    <img src='data:image/png;base64,{{tw.hourly_data}}' />
  </div>
  <br>
  <div class="container">
    <h2 style="text-align: center;">Average Daily Tweet Count</h2>
    <img src='data:image/png;base64,{{tw.daily_data}}' />
  </div>
  <br>
  <div class="container">
    <h2 style="text-align: center;">Wordcloud</h2>
    <img src='data:image/png;base64,{{tw.wc}}' />
  </div>
  <br>
  <div class="container">
    <div class="col-sm-5 col-sm-offset-1">
      <h2>Frequencies</h2>
      <br>
      <div>
        <table class="table table-striped" style="color: aliceblue;max-width: 300px;">
          <thead>
            <tr>
              <th>Word</th>
              <th>Count</th>
            </tr>
          </thead>
          {% for i in range(20)%}
          <tr">
            <td>{{ tw.df_freq.Word[i] }}</td>
            <td>{{ tw.df_freq.Count[i] }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>

  </div>
</div>
{% endif %}

{% endblock %}


<!-- <div class="container">
  <h1> Search Term: {{tw.search_term }}</h1>
</div> -->